<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src='/myapp/js/ajaxTest.js'></script>
  <script src='/myapp/js/socketio.js'></script>

</head>

<body>
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <div class="container">
              <h3>Make Containers?</h3>
              <form class="form-inline">
                <div class="form-group">
                  <label for="msgForm">Message: </label>
                  <input type="text" class="form-control" id="msgForm">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
              <div id="chatLogs"></div>
            </div>

            <script>
                var data =<%-JSON.stringify(data)%>
                console.log(data);
                console.log(data.length);
                $(function(){
                    $("table tr").click(function(){
                        var txt = $(this).text();
                        alert(txt);
                    });
                });

            </script>

        <table class="table table-striped">
          <thead>
            <tr>
              <td>#</td>
              <td>Id</td>
              <td>Names</td>
              <td>Image</td>
              <td>ImageID</td>
              <td>Command</td>
              <td>Created</td>
              <td>Ports</td>
              <td>Labels</td>
              <td>State</td>
              <td>Status</td>
              <td>HostConfig</td>
              <td>NetworkSettings</td>
              <td>Mounts</td>
            </tr>
          </thead>
          <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%- i %></td>
             <td><%- data[i].Id %></td>
             <td><%- data[i].Names %></td>
             <td><%- data[i].Image %></td>
             <td><%- data[i].ImageID %></td>
             <td><%- data[i].Command %></td>
             <td><%- data[i].Created %></td>
             <td><%- data[i].Ports %></td>
             <td><%- data[i].Labels %></td>
             <td><%- data[i].State %></td>
             <td><%- data[i].Status %></td>
             <td><%- data[i].HostConfig %></td>
             <td><%- data[i].NetworkSettings %></td>
             <td><%- JSON.stringify(data[i].Mounts) %></td>
           </tr>
           <% } %>
        </table>
          </div>

        </div>
        </div>
      </div>
    </div>

</body>
</html>
