<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./partials/head %>
  <!-- 스크립트 -->
  <script src='/myapp/js/socketio.js'></script>

</head>

<body>
  <% include ./partials/topnav %>

<div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <script>
                var data =<%-JSON.stringify(data)%>
                console.log(data);
                console.log(data.length);
            </script>

        <table class="table table-striped">
          <thead>
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Id</td>
              <td>Created</td>
              <td>Scope</td>
              <td>Driver</td>
              <td>EnableIPv6</td>
              <td>IPAM</td>
              <td>Internal</td>
              <td>Attachable</td>
              <td>Containers</td>
              <td>Options</td>
              <td>Labels</td>
            </tr>
          </thead>
          <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%- i %></td>
             <td><%- data[i].Name %></td>
             <td><%- data[i].Id %></td>
             <td><%- data[i].Created %></td>
             <td><%- data[i].Scope %></td>
             <td><%- data[i].Driver %></td>
             <td><%- data[i].EnableIPv6 %></td>
             <td><%- data[i].IPAM %></td>
             <td><%- data[i].Internal %></td>
             <td><%- data[i].Attachable %></td>
             <td><%- data[i].Containers %></td>
             <td><%- data[i].Options %></td>
             <td><%- data[i].Labels %></td>
           </tr>
           <% } %>
        </table>
          </div>

        </div>
        </div>
</div>

</body>
</html>
